<div ng-include="'views/header.html'"></div>

<div class="jumbotron webtool">
  <h1>微信Web开发工具</h1>
  <h5>ver（0.3.0）</h5>
  <div class="container-fluid info">
    <div class="row text-center">
      <div class="col-md-6 div">
        <div>
          <div class="left">
            <i class="fa fa-windows"></i>
          </div>
          <div class="right contianer-fluid">
            <div class="row text-center">
              <div class="col-md-6 div">
                <h1>32bit</h1>
                <h1><a href="https://mp.weixin.qq.com/debug/cgi-bin/webdebugger/download?from=mpwiki&os=x86"><i class="fa fa-download"></i></a></h1>
              </div>
              <div class="col-md-6 div">
                <h1>64bit</h1>
                <h1><a href="https://mp.weixin.qq.com/debug/cgi-bin/webdebugger/download?from=mpwiki&os=x64"><i class="fa fa-download"></i></a></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 div">
        <div>
          <div class="left">
            <i class="fa fa-apple"></i>
          </div>
          <div class="right contianer-fluid">
            <div class="row text-center">
              <div class="col-md-12 div">
                <h1>通用版本</h1>
                <h1><a href="https://mp.weixin.qq.com/debug/cgi-bin/webdebugger/download?from=mpwiki&os=darwin"><i class="fa fa-download"></i></a></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>