<nav class="navbar navbar-default">
  <div class="container-fluid nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color: #03a9f4;"><i class="fa fa-wechat"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="home">
          <a href="#/">首页</a>
        </li>
        <!--<li>
          <a href="#/docs">教程</a>
        </li>
        <li>
          <a href="#/api">API</a>
        </li>-->
        <li>
          <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     开发文档
    <span class="caret"></span>
  </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="https://mp.weixin.qq.com/wiki/home" target="_blank">官方公共平台</a></li>
            <li><a href="https://mp.weixin.qq.com/wiki?t=resource/res_main&id=mp1421135319&token=&lang=zh_CN" 
            target="_blank">官方公共平台（新）</a></li>
            <li><a href="https://pay.weixin.qq.com/wiki/doc/api/index.html" target="_blank">官方微信支付</a></li>
            <!--<li role="separator" class="divider"></li>

            <li><a>api参考</a></li>
            <li><a>使用指南</a></li>
            <li>
              <a href="#"></a>
            </li>-->
          </ul>
        </li>
        <li>
          <a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     下载
    <span class="caret"></span>
  </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#/download/tool">微信web开发者工具</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li class="forum">
          <a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     官网开发链接
    <span class="caret"></span>
  </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>
              <a target="_blank" href="http://mp.weixin.qq.com/debug/cgi-bin/sandbox?t=sandbox/login">公共帐号测试</a>
            </li>
            <li>

            </li>
            <li><a target="_blank" href="http://mp.weixin.qq.com/debug">接口调试</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </li>
        <li class="forum">
          <a target="_blank" href="http://forum.node-weixin.com/">论坛</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>