<div ng-include="'views/header.html'"></div>

<div class="jumbotron">
  <h1 class="name">Node Weixin</h1>
  <h1>一个优雅的微信开源SDK实现</h1>
  <br/>
  <div class="command">
    <span>
      npm install --save node-weixin-api
    </span>
    <a class="pointer" href="#/api">
      开发模式
      <i class="fa fa-caret-right"></i>
    </a>

  </div>
  <br/>
  <div class="command">
    <span>
      npm install -g node-weixin-express
    </span>
    <a class="pointer" href="#/docs">
        演示模式
      <i class="fa fa-caret-right"></i>
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="pay">
      <a href="https://github.com/node-weixin/node-weixin-express">
        <span class="label">node-weixin-express</span>
      </a>
      <br/>
      <br/>
      <a href="https://github.com/node-weixin/node-weixin-express">
        <img ng-src="https://img.shields.io/github/stars/node-weixin/node-weixin-express.svg?style=social&label=Star">
      </a>
      <a href="https://github.com/node-weixin/node-weixin-express">
        <img ng-src="https://img.shields.io/github/forks/node-weixin/node-weixin-express.svg?style=social&label=Fork">
      </a>
      <a href="https://github.com/node-weixin/node-weixin-express">
        <img ng-src="https://img.shields.io/github/watchers/node-weixin/node-weixin-express.svg?style=social&label=Watch">
      </a>
      <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#weixinpay">
        <img ng-src="/images/weixinpay.png" style="height:16px;" />&nbsp;支持下作者</button>
      </h3>
        <a target="_blank" class="btn btn-lg weixin-btn" href="https://github.com/node-weixin/node-weixin-express">开始使用</a>

      </div>
      <div class="col-md-6">
        <h3 class="pay">
      <a href="https://github.com/node-weixin/node-weixin-api">
        <span class="label">node-weixin-api</span>
      </a>
      <br/>
      <br/>
      <a href="https://github.com/node-weixin/node-weixin-api">
        <img ng-src="https://img.shields.io/github/stars/node-weixin/node-weixin-api.svg?style=social&label=Star">
      </a>
      <a href="https://github.com/node-weixin/node-weixin-express">
        <img ng-src="https://img.shields.io/github/forks/node-weixin/node-weixin-api.svg?style=social&label=Fork">
      </a>
      <a href="https://github.com/node-weixin/node-weixin-express">
        <img ng-src="https://img.shields.io/github/watchers/node-weixin/node-weixin-api.svg?style=social&label=Watch">
      </a>
      <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#weixinpay">
        <img ng-src="/images/weixinpay.png" style="height:16px;" />&nbsp;支持下作者</button>
    </h3>
        <a target="_blank" class="btn btn-lg weixin-btn" href="https://github.com/node-weixin/node-weixin-api">开始使用</a>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid info">
  <div class="row text-center">
    <div class="col-md-6 div div-color-1 ">
      <div>
        <div class="left">
          <i class="fa fa-terminal"></i>
        </div>
        <div class="right">
          <h1>快速体验</h1>
          <p>可以通过命令行快速的安装，运行，体验，测试
            <p>
        </div>
      </div>
    </div>
    <div class="col-md-6 div div-color-2 ">
      <div>
        <div class="left">
          <i class="fa fa-sitemap"></i>
        </div>
        <div class="right">
          <h1>优雅的架构</h1>
          <p>根据业务关系分类组织，可以独立使用，也可以组合使用</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 div div-color-3 ">
      <div>
        <div class="left">
          <i class="fa fa-html5"></i>
        </div>
        <div class="right">
          <h1>方便前端调试</h1>
          <p>前端可以快速基于node-weixin-express进行开发调试
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 div div-color-4 ">
      <div>
        <div class="left">
          <i class="fa fa-gear"></i>

        </div>
        <div class="right">
          <h1>工业级的代码质量</h1>
          <p>代码测试非常充分，并经过了线上项目的考验</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid intro">
  <div class="row text-center">
    <div class="col-md-12 div div-color-5 ">
      <a class="btn btn-lg" href="#/intro" style="background-color:#2d0f64;color: #FFF">
        了解更多 &raquo;
      </a>
    </div>
  </div>
</div>